body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color:rgb(237, 241, 241);
    
}
.logo{
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
    font-size: 1.5em;
}
.logo .heading1{
    margin-left: 1.5em;
    color: black;
    font-weight: bolder;
}
.logo .heading2{
    margin-left: 0.5em;
    font-weight: bolder;
    color: #279eff;
}
.navbar{
    display: flex;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
}
.ullist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    margin-left: 10em;
}
.ullist li{
    list-style: none;
}
.ullist li a{
    text-decoration: none;
    padding: 10px 2em;
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}
.ullist li a:hover{
    text-decoration:overline;
    color: black;
    text-decoration-color: #279eff;
}
.container{
    display: flex;
    flex-direction:row;
    background-color: white;
    width:60vw;
    border-radius: 12px;
    border:3px solid black;
}
.container2{
    display: flex;
    flex-direction:row-reverse;
    background-color: white;
    width:60vw;
    border-radius: 12px;
    border:3px solid black;
}
.userlogin img{
     height:22em;
     width: 26em;
     position: relative;
     top:5em;
     left:1em;
}
.userlogin2 img{
    height:25em;
    width: 28em;
    position: relative;
    top:5em;
    left:1em;
    
}
.form-section{
    position: relative;
    width: 30vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.form-section h2{
    font-size: 2em;
    color:rgba(0, 0, 0, 0.774);
    letter-spacing: 1px;
}
.inputbox{
    position: relative;
    width:300px;
    margin: 30px 0px;
    margin-bottom: 40px;
    border-bottom: 2px solid #0b010158;
}
.inputbox label{
    position: absolute;
    top:0;
    left:0;
}

input:placeholder-shown +label{
    transform: translateY(50%);
}
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px; 
    transform: translateY(0);
}

.inputbox input{
    width:100%;
    height: 30px;
    cursor: initial;
    background-color: transparent;
    font-size: 1em;
    border: 0;
    outline: none;
    color: rgba(16, 4, 4, 0.767);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inputbox ion-icon{
    position: absolute;
    right:-22px;
}
.btn button,input{
    width:140px;
    height:40px;
    border-radius: 11px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: transparent;
    color: black;
    display: block;
    margin: auto;
    cursor: pointer;
}
.btn input,button:hover{
    color: white;
    background-color: #237fb7;
}
.btn2 input:hover{
    color: white;
    background-color: #237fb7;
}
.myRegister{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1em;
}
.myRegister a{
    margin-left: 0.5em;
    text-decoration: none;
}
.myRegister a:hover{
    cursor: pointer;
    
}
